.container {
  background-color: #c00025;
  width: 100%;
  max-width: 550px;
  border-radius: 15px;
  border: 2px solid grey;
  padding-bottom: 25px;
}
.display {
  margin-top: 25px;
  height: 100px;
  width: 450px;
  border-radius: 50px;
  color: white;
  background-color: #322c2d;
  box-shadow: 1px 1px #322c2d;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-right: 8%;
  font-size: 5rem;
}

.App {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.number_button,
.operator_button,
.special_button {
  height: 75px;
  width: 75px;
  font-size: 2rem;
  color: white;
  background-color: blue;
  border-radius: 50px;
  text-align: center;
  margin: 5px;
}
